{
  "{src,modules}/**/*.{js,ts,jsx,tsx,json,html,css,scss}": [
    "nx affected:lint --fix=true --uncommitted",
    "nx affected:test --base=main --head=HEAD",
    "nx format:write --uncommited"
  ]
}